<h1>Created events</h1>

<% @events.each do |event| %>
  <%= render event %>
  <%= link_to "Show Detail", event_path(event) %>
<% end %>

<h1>Past events:</h1>
<ul>
  <% current_user.attended_events.past.each do |event| %>
    <li><%= event %></li>

    <%# TODO: Refactor? %>
    <% if current_user.id == params[:id].to_i %>
      <% participation = Participation.find_by(attendee_id: current_user.id, attended_event_id: event.id) %>
      <%= button_to "Delete attendance", participation_path(participation), method: :delete %>
    <% end %>
  <% end %>
</ul>

<h1>Upcoming events:</h1>
<ul>
  <% current_user.attended_events.upcoming.each do |event| %>
    <li><%= event %></li>

    <% if current_user.id == params[:id].to_i %>
      <% participation = Participation.find_by(attendee_id: current_user.id, attended_event_id: event.id) %>
      <%= button_to "Delete attendance", participation_path(participation), method: :delete %>
    <% end %>
  <% end %>
</ul>
