<h1>Create a new event</h1>

<% if @event.errors.any? %>
  <div class="errors_container">
    <% @event.errors.each do |error| %>
      <p><%= error.full_message %></p>
    <% end %>
  </div>
<% end %>

<%= form_with model: @event do |form| %>
  <div class="form-row">
    <%= form.label :date, "Choose a date: " %>
    <%= form.date_field :date %>
  </div>

  <div class="form-row">
    <%= form.label :location, "Type a location: " %>
    <%= form.text_field :location %>
  </div>

  <%= form.submit %>
<% end %>
